@font-face {
  font-family: FuturaPT;
  src: url('../../font/FuturaPTMedium.otf');
  font-weight: 500;
}

@font-face {
  font-family: FuturaPT-Demi;
  src: url('../../font/FuturaPTDemi.otf');
  font-weight: 500;
}

@font-face {
  font-family: FuturaPT-light;
  src: url('../../font/FuturaPTLight.otf');
  font-weight: 300;
}

@font-face {
  font-family: Myriad;
  src: url('../../font/MYRIADPRO-REGULAR.OTF');
  font-weight: 500;
}