<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stone</title>
  <link rel="stylesheet" href="../css/about.css">
  <link rel="stylesheet" href="../css/common/header.css">
  <link rel="stylesheet" href="../css/common/fonts.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="header">
    <!-- <button class="dropdown-button"></button> -->
    <ul class="navbar">
      <li class="navbar-item navbar-logo">
        <a href="/" class="navbar-item-link navbar-item-logo">Logo</a>
      </li>
      <button class="dropdown-button">
        <img src="../images/menu.png" alt="menu">
      </button>
      <div class="navbar-position">
        <li class="navbar-item">
          <a href="/about" class="navbar-item-link" id="about-stone">About Stone</a>
        </li>
        <li class="navbar-item">
          <a href="/projects" class="navbar-item-link" id="lastest-project">Lastest Projects</a>
        </li>
        <li class="navbar-item">
          <a href="/contact" class="navbar-item-link" id="contact">Contact</a>
        </li>
        <li class="navbar-item">
          <a href="" class="navbar-item-link"><img id="insta" src="../images/instagram.png" alt="instagram"></a>
        </li>
      </div>
    </ul>
    <div class="overlay" id="navbarBackground">
      <div class="overlay-content">
        <a href="" class="overlay-content-link" id="about-stone">About Stone</a>
        <a href="" class="overlay-content-link" id="lastest-project">Lastest Projects</a>
        <a href="" class="overlay-content-link" id="contact">Contact</a>
        <a href="" class="overlay-content-link"><img id="insta" src="../images/instagram.png" alt="instagram"></a>
        <p class="overlay-content-footer">© 2021, Stone Design.</p>
      </div>
    </div>
  </div>

  <section class="about-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <img class="about-content-img" src="../images/64 - dQMxRzX.jpg" alt="">
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="about-content-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin fermentum placerat libero, in vulputate
              velit rutrum sed. Donec nec leo imperdiet, commodo elit eget, eleifend diam. Nam sit amet bibendum velit.
              Praesent convallis aliquam ex, eget rhoncus augue sollicitudin at. Proin vitae placerat quam. Nulla vel
              purus at mi cursus aliquam vitae non mauris. Sed vitae ultricies nisl, et vestibulum tellus.
              <br><br>
              Sed eget tellus in urna interdum mattis. Aenean nec tellus in nibh pulvinar accumsan. Nam suscipit nibh
              sit amet odio molestie, sed dictum dui tristique. Morbi viverra urna sit amet turpis consequat, porttitor
              efficitur lectus condimentum. Proin vel odio nec sapien sollicitudin tincidunt at ac erat. Praesent non
              ipsum est. Praesent dictum risus ac gravida eleifend. Proin hendrerit sit amet dolor quis mattis. Praesent
              viverra, ligula cursus convallis pharetra, nulla velit eleifend metus, nec suscipit ante purus sed lacus.
            </p>
          </div>

        </div>
      </div>
    </div>
  </section>

  <script src="../js/navbar.js"></script>
</body>

</html>