<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stone</title>
  <link rel="stylesheet" href="../css/contact.css">
  <link rel="stylesheet" href="../css/common/header.css">
  <link rel="stylesheet" href="../css/common/fonts.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="header">
    <!-- <button class="dropdown-button"></button> -->
    <ul class="navbar">
      <li class="navbar-item navbar-logo">
        <a href="home.html" class="navbar-item-link navbar-item-logo">Logo</a>
      </li>
      <button class="dropdown-button">
        <img src="../images/menu.png" alt="menu">
      </button>
      <div class="navbar-position">
        <li class="navbar-item">
          <a href="about.html" class="navbar-item-link" id="about-stone">About Stone</a>
        </li>
        <li class="navbar-item">
          <a href="projects.html" class="navbar-item-link" id="lastest-project">Lastest Projects</a>
        </li>
        <li class="navbar-item">
          <a href="contact.html" class="navbar-item-link" id="contact">Contact</a>
        </li>
        <li class="navbar-item">
          <a href="" class="navbar-item-link"><img id="insta" src="../images/instagram.png" alt="instagram"></a>
        </li>
      </div>
    </ul>
    <div class="overlay" id="navbarBackground">
      <div class="overlay-content">
        <a href="about.html" class="overlay-content-link" id="about-stone">About Stone</a>
        <a href="projects.html" class="overlay-content-link" id="lastest-project">Lastest Projects</a>
        <a href="contact.html" class="overlay-content-link" id="contact">Contact</a>
        <a href="" class="overlay-content-link"><img id="insta" src="../images/instagram.png" alt="instagram"></a>
        <p class="overlay-content-footer">© 2021, Stone Design.</p>
      </div>
    </div>
  </div>

  <section class="contact-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 mobile-img-order">
          <img class="contact-content-img" src="../images/64 - dQMxRzX.jpg" alt="">
        </div>
        <div class="col-md-6 col-sm-12 align-self-center mobile-txt-order">
          <div class="contact-content-text">
            <p class="contact-content-text-note">We’d love to bring you concept to life, so drop us an email or give us
              a call</p>
            <p class="contact-content-text-address">Email: James@stone-hk.com<br>
              Mobile: +852 9488 1234</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="../js/navbar.js"></script>
</body>

</html>