<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stone</title>
  <link rel="stylesheet" href="../css/project-detail.css">
  <link rel="stylesheet" href="../css/common/header.css">
  <link rel="stylesheet" href="../css/common/fonts.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="header">
    <ul class="navbar">
      <li class="navbar-item navbar-logo">
        <a href="home.html" class="navbar-item-link navbar-item-logo">Logo</a>
      </li>
      <button class="dropdown-button">
        <img src="../images/menu.png" alt="menu">
      </button>
      <div class="navbar-position">
        <li class="navbar-item">
          <a href="about.html" class="navbar-item-link" id="about-stone">About Stone</a>
        </li>
        <li class="navbar-item">
          <a href="projects.html" class="navbar-item-link" id="lastest-project">Lastest Projects</a>
        </li>
        <li class="navbar-item">
          <a href="contact.html" class="navbar-item-link" id="contact">Contact</a>
        </li>
        <li class="navbar-item">
          <a href="" class="navbar-item-link"><img id="insta" src="../images/instagram.png" alt="instagram"></a>
        </li>
      </div>
    </ul>
    <div class="overlay" id="navbarBackground">
      <div class="overlay-content">
        <a href="" class="overlay-content-link" id="about-stone">About Stone</a>
        <a href="" class="overlay-content-link" id="lastest-project">Lastest Projects</a>
        <a href="" class="overlay-content-link" id="contact">Contact</a>
        <a href="" class="overlay-content-link"><img id="insta" src="../images/instagram.png" alt="instagram"></a>
        <p class="overlay-content-footer">© 2021, Stone Design.</p>
      </div>
    </div>
  </div>

  <section class="project-detail">
    <div class="container">
      <div class="row">
        <div class="project-detail-text">
          <h2 class="project-detail-text-restaurant-name">Smoke + Barrel</h2>
          <h2 class="project-detail-text-restaurant-address">Wyndham street, central hong kong </h2>
          <p class="project-detail-text-restaurant-discribe">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Duis ac pulvinar magna, eu semper ante. Nullam
            viverra
            enim nisi, fringilla rutrum ante iaculis vitae. Sed faucibus fringilla nibh eu ullamcorper. Duis id ultrices
            velit. Donec id est mattis, pulvinar ex at, molestie dui. Duis viverra libero id urna vehicula, nec
            tincidunt
            velit vestibulum. Nulla et euismod risus.
            <br><br>
            In interdum volutpat velit at scelerisque. Sed sollicitudin rutrum scelerisque. Vivamus at elit magna.
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam dolor
            nunc, pharetra non maximus quis, pellentesque a ipsum. Nam posuere eros sit amet ullamcorper fermentum. Nunc
            egestas molestie ultrices. Morbi hendrerit orci vel suscipit commodo. Pellentesque aliquet mollis sem ut
            rutrum.
            Integer sit amet fringilla lectus.
          </p>
        </div>
      </div>
    </div>
    <div class="project-detail-image">
      <div class="column">
        <img src="../images/66 - dAKSCI9.jpg" style="width:100%">
        <img src="../images/Sample-jpg-image-500kb.jpg" style="width:100%">
        <img src="../images/64 - dQMxRzX.jpg" style="width:100%">
      </div>
      <div class="column">
        <img src="../images/Sample-jpg-image-500kb.jpg" style="width:100%">
        <img src="../images/62 - 4b1EH3d.jpg" style="width:100%">
        <img src="../images/66 - dAKSCI9.jpg" style="width:100%">
      </div>
      <div class="column">
        <img src="../images/66 - dAKSCI9.jpg" style="width:100%">
        <img src="../images/Sample-jpg-image-500kb.jpg" style="width:100%">
        <img src="../images/64 - dQMxRzX.jpg" style="width:100%">
      </div>
    </div>
  </section>

  <script src="../js/navbar.js"></script>
  <!-- <script src="../js/slide-show.js"></script> -->
</body>

</html>