@import './common/fonts.css';
@import './common/mixins';

html {
  box-sizing: border-box;
}

.content {
  &-mobile {
    @media only screen and (min-width: 769px) {
      display: none;
    }
    &-restaurant {
      position: relative;
      &-btn {
        @include restaurant-btn(#a4b7c7, 9px)
      }
    }
  }
}