@import './common/fonts.css';
@import './common/mixins';

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.project-detail {
  padding: 10px 10px 77px 10px;
  background-color: black;
  @media screen and (max-width: 576px) {
    padding: 0;
  }
  &-text {
    max-width: 1092px;
    margin: auto;
    @media screen and (max-width: 768px) {
      margin: 24px 31px 29px 28px;
    }
    &-restaurant-name{
      font-family: FuturaPT-Demi;
      font-size: 36px;
      line-height: 1.19;
      text-align: center;
      color: #ffffff;
      margin-top: 60px;
      margin-bottom: 25px;
      @media screen and (max-width: 768px) {
        margin-top: 0;
        margin-bottom: 18px;
        font-size: 24px;
      line-height: 1.79;
      }
    }
    &-restaurant-address{
      font-family: FuturaPT-Demi;
      font-size: 36px;
      line-height: 1.19;
      text-align: center;
      color: #97a7b4;
      text-transform: uppercase;
      margin-bottom: 28px;
      @media screen and (max-width: 768px) {
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 1;
      }
    }
    &-restaurant-discribe{
      font-family: Myriad;
      font-size: 20px;
      line-height: 1.2;
      text-align: left;
      color: #ffffff;
      margin-bottom: 38px;
      @media screen and (max-width: 768px) {
        font-family: FuturaPT-light;
        margin-bottom: 29px;
        font-weight: 300;
      }
    }
  }
  &-image {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
    cursor: pointer;
    @media screen and (max-width: 576px) {
      flex-direction: column;
      padding: 0;
    }
    .column {
      -ms-flex: 33.3%;
      flex: 33.3%;
      max-width: 33.3%;
      padding: 0 4px;
      @media screen and (max-width: 800px) {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
      }
      @media screen and (max-width: 576px) {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        padding: 0;
      }
      img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
        @media screen and (max-width: 576px) {
          margin-top: 0;
        }
      }
    }
  }
  .modal {
    &-dialog {
      width: 950px;
      height: 693px;
      margin: 209px auto;
      @media screen and (max-width: 1120px) {
        width: 650px;
        height: 100%;
      }
      @media screen and (max-width: 768px) {
        width: calc(100vw - 140px);
        height: 100%;
      }
      @media screen and (max-width: 576px) {
        width: calc(100vw - 128px);
        height: 100%;
      }
      .modal-content {
        background-color: transparent;
        .modal-header {
          padding: 0;
          border-bottom: none;
          .close {
            font-size: 50px;
            color: #a4b7c7;
            margin-right: -47px
          }
        }
        .modal-body {
          padding: 0;
          .slideshow-container {
            position: relative;
            .mySlides {
              display: none;
              img {
                vertical-align: middle;
              }
              .text {
                color: #fff;
                font-family: FuturaPT;
                font-size: 12px;
                margin-left: 19px;
                position: absolute;
                bottom: 20px;
                line-height: 3.58;
                letter-spacing: normal;
              }
              &-btn{
                @include restaurant-btn(#a4b7c7, 56px)
              }
            }
            
            .prev {
              cursor: pointer;
              position: absolute;
              top: 50%;
              left: -58px;
              width: auto;
              padding: 16px;
              margin-top: -22px;
              color: #a4b7c7;
              font-weight: bold;
              font-size: 45px;
              transition: 0.6s ease;
              border-radius: 0 3px 3px 0;
              user-select: none;
            }

            .next {
              cursor: pointer;
              position: absolute;
              top: 50%;
              width: auto;
              padding: 16px;
              margin-top: -22px;
              color: #a4b7c7;
              font-weight: bold;
              font-size: 45px;
              transition: 0.6s ease;
              border-radius: 0 3px 3px 0;
              user-select: none;
              right: -58px;
              border-radius: 3px 0 0 3px;
            }
            
            .prev:hover, .next:hover {
              background-color: rgba(0,0,0,0.8);
            }
            
            .active {
              background-color: #717171;
            }
            
            @media only screen and (max-width: 576px) {
              .prev, .next {
                font-size: 25px;
                padding: 5px;
                margin-top: -15px;
              }
              .prev {
                left: -25px;
              }
              .next {
                right: -25px;
              }
            }
          }
        }
      }
    }
  }
}